# Byte-compiled / cached files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and database files
*.log
db.sqlite3

# IDE-specific files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo

# Git-specific files
.git/
